*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

/*.......HEADER*/
.header__logo {
    background-image: url(img/frances.jpeg);
}
.header-banner{
    background-image: url(img/bbva-banner.png);
    background-color: rgb(7, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 9rem;
    
}

.header__navbar--principal{
    padding: 25px;
    list-style: none;
}
/*TRANSFORMACIONES Y RESPONSIVE- HEADER*/
.personas-{
    width: 100px;
    overflow: hidden;
}
.personas-:hover{
    transform: scale(2,2);
}
.contactos-{
    width: 100px;
    overflow: hidden;
}
.contactos-:hover{
    transform: scale(2,2);
}
.empresa-{
    width: 100px;
    overflow: hidden;
}
.empresa-:hover{
    transform: scale(2,2);
}
.institucional-{
    width: 110px;
    overflow:hidden;
}
.institucional-:hover{
    transform: scale(2,2);
}
    

.header__navbar--principal li{
display: inline-block;
}

.header__navbar--principal a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1.1rem;
    background-color: rgb(8, 8, 8);
    text-transform: inherit;  
 }
 

 .header__titulo{
     color: white;
     font-size: 3rem;
     display: flex; 
     justify-content: left;
     padding: 1rem;
 }
/*.......CONTENIDO*/
.section-contenido{
    background-color: rgb(84, 164, 230);
    padding: 2rem;
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: justify;

}

.tabla1{
    background-color: rgb(55, 151, 180);
    background-size: cover;
    background-position: unset;
    height: 10rem;
    text-transform: inherit;
    padding: 2rem;
    font-size: 1rem;
}
/*ASIDE COLUMNA*/ 
.columna-flex{
    background-color: rgb(177, 177, 177);
    width: 30%; /*Acá faltaba un punto y coma, por eso te anulaba todos los estilos debajo */
    padding: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    
    text-transform: inherit;

}
.sujerencias{
    list-style: none;
    text-transform: inherit;
    font-size: 1rem;
}
/*ASIDE COLUMNA--2*/

.columna--2{
    background-color: rgb(26, 133, 133);
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    float: unset;
    text-transform: inherit;
}
/* --- Sección de Columnas con Imágenes ---*/
.columnas-imagenes {
    clear: both;
    margin-top: 80px;
    padding: 1rem;
    display: flex;
}
.item-columna img{
    display: flex;
    width: 50%;
    padding: 3rem;
    background-color: rgb(184, 182, 182);
    margin: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
    text-transform: inherit;

}
.bordesRedondeados{
    border-radius: 35px;
   
}

.item-columna img{
    display: block;
    width: 400px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    text-transform: inherit;
    
}

.item-columna p {
    margin:20px;
    text-transform: inherit;
    padding: 1rem;
    background-color: rgb(64, 180, 180);
    
}

/*PERSONAS*/
.somos{
    background-image: url(img/productos-servicios.jpeg);
    background-color: rgb(7, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    display: flex;
    text-transform: inherit;
   
    
}

/*CONTACTOS*/
.formulario{
    background-color: rgb(55, 192, 233);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-style: oblique;
    height: 27rem;
    text-transform: inherit;
    color: black;
}
/*TRANSFORMACIONES Y ANIMACIONES- CONTACTOS*/
.efecto-nombre{
    width: 150px;
    overflow: hidden;
}
.efecto-nombre:hover{
    transform: scale(1,2);
}
.efecto-apellido{
    width: 150px;
    overflow: hidden;
}
.efecto-apellido:hover{
    transform: scale(1,2);
}
.consulta{
    width: 100px;
    overflow: hidden;
}
.consulta:hover{
    transform: scale(1,2);
}

.limpiar{
    width: 112px;
    overflow: hidden;
}
.limpiar:hover{
    transform: scale(1,2)
}
.nada{
    width: 100px;
    overflow: hidden;
}
.nada:hover{
    transform: scale(1,2);
}


/*Institucional*/
.somos{
    background-image: url(img/compu.jpeg);
    background-color: rgb(90, 195, 199);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-style: italic;
    height: 10rem;
    text-transform: inherit;
}
.bancos{
    background-color: rgb(168, 241, 243);
    background-size: cover;
    background-position: center;
    font-style: italic;
    height: 30%;
    text-transform: inherit;
}

.conoces{
    background-color: rgba(7, 7, 7, 0.38);
    background-size: auto;
    background-position: center;
    font-style: unset;
    text-transform: inherit;
    
}

.titulo{
    font-weight:500;
}
/*..........GRID*/

#grid {
 display: grid;
  width: 100%;
  height: 700px;
  grid-template-areas: "head head"
                       "nav  main"
                       "nav  foot";
  grid-template-rows: 1fr 1fr 0fr;
  grid-template-columns: 1fr 1fr;
}


#grid > header {
  grid-area: head;
  background-color: #000000;
}


#grid > main {
  grid-area: main;
  background-color: #ffffff;
  
}


#grid > footer {
  grid-area: foot;
  background-color: #000000;
}


/*...........FOOTER*/ 

.footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem;   
    
}
    
.footer__flex{
    display: flex;
    justify-content: space-around;
    color: rgb(64, 139, 224);
    background-image: url(img/bbva-banner.png);
    background-repeat: no-repeat
}

.footer__menu{
    list-style: none;
    text-align: center;
}

.footer__menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 0.8 ;

}






